* {
    font-family: "Consolas", monospace;
    margin: 0;
    overflow: hidden;
}

#error {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: pink;
    width: 100%;
}


#header {
    position: absolute;
    top: 0;
    color: #000;
    width: 100%;
    height: 5%;
    font-family: monospace;
}

.hero {
  font-size: 2vh;
}

.flex-container {
    display: flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

#footer {
    position: absolute;
    top: 90%;
    color: #000;
    width: 100%;
    height: 10%;
    text-align: left;
    font-family: monospace;  
}

#container {
    position: absolute;
    top: 5%;
    color: #000;
    width: 100%;
    height: 85%;
    text-align: left;
    font-family: monospace;
}

#container .channel {
  position: relative;
  width: 100%;
}

.axis {
  font: 10px sans-serif;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.horizon {
  border-bottom: solid 1px #000;
  overflow: hidden;
  position: relative;
}

.horizon {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  white-space: nowrap;
  pointer-events: none;
}
.horizon .value {
  font-weight: bold;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  opacity: 0.2;
  z-index: 2;
}


.heartbeat {
  position: absolute;
  bottom: 40%;
  width: 100%;
  text-align: center;
}

.heartbeat.dead {
  background-color: pink;
}

.legend {
  position: absolute;
  bottom: 0;
}

.legend .color {
  display: inline-block;
}

.legend .color div {
  display: block;
  padding: 0 3px;
  text-shadow: 1px 1px 1px rgba(255,255,255,1);
  text-align: center;
}





#title {
    position: absolute;
    top: 5%;
    left: 5%;
    color: #fff;
}

#subtitle {
    position: absolute;
    bottom: 3%;
    text-align: center;
    color: #fff;    
    width: 100%;
}

#error a {
    color: pink;
}

#dome {
    background-color: #6f8e1a;
    width: 100%;
    height: 100%;
}

#dome .dome-shell {
    fill: none;
    stroke: #fff;
}

#dome .dome-reactor {
    fill: #000;
    fill-opacity: 0.1;
    stroke: #fff;
}

#dome .dome-measurepoint circle {
    fill: #fff;
}

#dome .dome-measurepoint text {
    fill: #fff;
    dominant-baseline: ideographic;
    opacity: 1;
    text-anchor: middle;
}

.dome-legend {
    text-anchor: middle;
    dominant-baseline: ideographic;
    text-transform: uppercase;
    fill: #fff;
}

.sparkline {
    fill: none;
    stroke: #fff;
    opacity: 1;
}

.sparkline-shade {
    fill: none;
    stroke: #6f8e1a;
    opacity: 1;
}

.sparklinetip {
    fill: #fff;
    stroke: #6f8e1a;
    opacity: 1;
}
